<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508888501498-4di328mj5t865ab0g4qe4p32p3k0mkqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508888501498-4di328mj5t865ab0g4qe4p32p3k0mkqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAlv8VMX0km0yjYXfLiQFVZlo_VN0pjfPA</string>
	<key>GCM_SENDER_ID</key>
	<string>508888501498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazunori.MusicListApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-9c0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-9c0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508888501498:ios:95dcdd68c9282849e48d43</string>
</dict>
</plist>